* {
  box-sizing: border-box;
  outline: none;
}

.todo-component {
  width: calc(100% - 40px);
  max-width: 600px;
  margin: 20px auto;
  background: #fff;
  border: 1px solid #dadada;
  padding: 20px 20px;
  box-sizing: border-box;
}

.todo-component .header {
  margin: 0 0 5px;
  text-align: center;
}
.todo-component .header p {
  margin: 0;
}
.todo-component .todo-title {
  display: block;
  margin: 0;
}

.todo-component .todo-form {
  display: block;
  padding: 20px 30px 20px;
  border-bottom: 1px solid #e7e7e7;
}

.todo-component .btn{
  text-decoration: none;
}

.todo-component .form-wrap {
  position: relative;
  height: 54px;
}

.todo-component .todo-form .btn-add-todo {
  position: absolute;
  top: 0;
  right: 0;
  background: #08f;
  color: #fff;
  padding: 4px 6px;
  border: none;
  height: 100%;
  min-width: 75px;
  font-size: 19px;
  border-radius: 0 6px 6px 0;
}

.todo-component .todo-form label {
  display: block;
  height: 100%;
}

.todo-component .todo-form .newtodo {
  min-height: 100%;
  width: 100%;
  padding: 0 84px 0 20px;
  box-sizing: border-box;
  border: 1px solid rgba(233, 233, 233, 0.77);
  border-radius: 10px;
  display: block;
}

.todo-component .todo-form .newtodo:focus {
  border: 1px solid #08f;
}

.todo-component .todo-list {
  margin: 20px 0 0;
  list-style: none;
  padding: 0 20px;
  max-height: calc(100vh - 290px);
  overflow-y: auto;
}

.todo-component .todo-list .todo-name input{
    min-height: 40px;
    width: 100%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(233, 233, 233, 0.77);
    border-radius: 7px;
    display: block;
}
.todo-component .todo-list .todo-name{
  flex: 2;
  width: 100%;
  display: block;
  padding: 0 15px;
  box-sizing: border-box;
  color: #4f4f4f;
}
.todo-component .todo-list .isCompleted input[type="checkbox"]{
  display: none;
}

.todo-component .todo-list .isCompleted input[type="checkbox"] + span{
    display: block;
    background: #69859e;
    position: relative;

    width: 50px;
    height: 40px;
    border-radius: 17px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,.5));
}
.todo-component .todo-list .isCompleted input[type="checkbox"] + span:after{
  content: '';
  display: block;
  position: absolute;
  height: 8px;
  width: calc(100% - 20px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 4px;
}
.todo-component .todo-list .isCompleted input[type="checkbox"] + span:before{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 50%;
  transform:translate3d(6px, -50%, 0);
  background: #fff;
  transition: .25s ease;
}
.todo-component .todo-list .isCompleted input[type="checkbox"]:checked + span:before{
  left: inherit;
  /* right: 0; */
  transform: translate3d(100%, -50%, 0);
}
.todo-component .todo-list .todo-name .edit-wrapper{
  position: relative;
}
.todo-component .todo-list .todo-name .edit-wrapper a{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  text-decoration: none;
  padding: 6px 8px;
  display: block;
  background: #08f;
  font-size: 12px;
  border-radius: 7px;
  line-height: 1.2;
  color: #fff;
}
.todo-component .todo-list .todo-name .btn{
  color: inherit;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}
.todo-component .todo-list li.todo-item {
  padding: 12px 15px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  min-height: 64px;
}

.todo-component .todo-list li.todo-item:not(:last-child) {
  border-bottom: 1px solid #e7e7e7;
}

.todo-component .todo-actions {
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

.todo-component .btn-toggle, .todo-component .btn-remove {
  border: none;
  padding: 6px 10px;
  color: #fff;
  background: #80f;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}


.todo-component .btn-remove {
  background: #F44336;
}

.todo-component .btn-toggle.off {
  background: #08f;

}

.todo-component .todo-actions li .btn-toggle.on {
  background: #4CAF50;
}

.todo-component .filters {
  display: flex;
  flex-flow: row wrap;
  margin: 15px 0 0;
  padding: 0;
  list-style: none;

  align-items: center;
  justify-content: center;
}

.todo-component .filters > li {
  display: flex;
  flex-flow: row wrap;
  margin: 0 8px;
  line-height: 20px;
  padding: 7px 0;
}

.todo-component .filters > li label {
  cursor: pointer;
  font-size: 14px;
}

.todo-component .filters .input-hidden {
  display: none;
}

.todo-component .filters .input-hidden + .input-help {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 7px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px 0 0;
  transition: .25s ease;
}

.todo-component .filters .input-hidden:checked + .input-help {
  background: #4CAF50;
}

@media screen and (max-width: 767px) {
  .todo-component .todo-list .todo-name {
    width: 100%;
    display: block;
  }

  .todo-component .todo-list .todo-actions {
    margin: 0;
    width: 100%;
  }

  .todo-component .todo-form {
    padding: 15px 0;
  }


  .todo-component .form-wrap {
    height: auto;
  }

  .todo-component .todo-form .btn-add-todo {
    position: static;
    width: 100%;
    margin: 10px 0 0;
    border-radius: 5px;
    height: 54px;
  }

  .todo-component .todo-form .newtodo {
    padding: 0 20px;
    height: 54px;
  }

  .todo-component .filters {
    justify-content: flex-start;
  }
}
